// css header
header {
  .bg__header {
    position: relative;
    width: 100%;
    img {
      width: 100%;
    }
    .header {
      position: fixed;
      top: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 70px;
      margin-top: 50px;
      transition: 0.4s;
      &.active {
        position: fixed;
        top: 0;
        background-color: #000;
        margin-top: 0;
        z-index: 100;
        transition: 0.4s;
        .logo .tagA i img {
          width: 70%;
        }
      }
      a {
        font-family: "mb";
        color: #ffffff;
        font-size: 1rem;
        line-height: 11px;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 15px 0;
        position: relative;
        &.active {
          &::after {
            width: 100% !important;
          }
        }
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background-color: $green-cl;
          overflow: hidden;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: 0.2s;
        }
        &:hover {
          &::after {
            width: 100%;
            transition: 0.2s;
          }
        }
      }
      .header__left {
        display: flex;
        align-items: center;
        margin-right: 50px;
        ul {
          display: flex;
          justify-content: space-around;
          min-width: 300px;
        }
      }
      .logo {
        h1{
          display: none;
        }
        display: flex;
        .tagA {
          display: flex;
          &::after {
            display: none;
          }
          i {
            display: flex;
            img {
              margin: auto;
              width: 80%;
            }
          }
        }
      }
      .header__right {
        display: flex;
        align-items: center;
        padding-left: 50px;
        ul {
          min-width: 300px;
          display: flex;
          justify-content: space-around;
        }
      }
    }
    .text__midle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h2 {
        font-family: "mb";
        font-size: 55px;
        line-height: 40px;
        text-transform: uppercase;
        color: #ffffff;
        letter-spacing: 28px;
      }
    }
  }
}

@media screen and(max-width: 993px) {
  header .bg__header .text__midle h2 {
    display: none;
  }
}

@media screen and(max-width: 767px) {
  header .bg__header .header .header__left ul {
    min-width: 215px;
  }
  header .bg__header .header .header__right ul {
    min-width: 215px;
  }
  header .bg__header .header {
    margin-top: 25px;
  }
}

@media screen and(max-width: 576px) {
  header .bg__header .header {
    margin-top: 15px;
  }
  header .bg__header .header .header__right ul {
    min-width: 185px;
  }
  header .bg__header .header .header__left ul {
    min-width: 185px;
  }
}
